mixin brands
  .brands
    .container
      .brands__list
        .brands__item
          img(src="../../i/visa_mc.svg", alt="")
        .brands__item
          img(src="../../i/neteller.svg", alt="")
        .brands__item
          img(src="../../i/pm.svg", alt="")
        .brands__item
          img(src="../../i/sticpay.svg", alt="")
        .brands__item
          img(src="../../i/fasa.svg", alt="")