mixin lang
  .lang(class!=attributes.class)
    .lang__flag
      +icon('flag-dumy')
      //- img(src="i/flag-dumy.svg", alt="Flag")
    .lang__name English
    .lang__arrow
      +icon('arrow-down')