mixin topBlock()
  .top-block
    .container
      .slider
        .slider__item
          .slider__content
            | Sed ut perspiciatis
            | unde omnis iste natus
            | error 5000
            button.button.button_slider Learn Now!
          img(src="i/top.png", alt="Top 1" class='img_1')
        .slider__nav
          .slider__dot
          .slider__dot
          .slider__dot
          .slider__dot
          .slider__dot.active

      