.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-arrow-down {
	font-size:(7.031/10)*1rem;
	width:(10/7.031)*1em;
}
.icon-chess {
	font-size:(66/10)*1rem;
	width:(61/66)*1em;
}
.icon-clock {
	font-size:(66/10)*1rem;
	width:(56.06/66)*1em;
}
.icon-flag-dumy {
	font-size:(18/10)*1rem;
	width:(24/18)*1em;
}
.icon-logo {
	font-size:(28/10)*1rem;
	width:(67/28)*1em;
}
.icon-menu {
	font-size:(1000/10)*1rem;
	width:(1000/1000)*1em;
}
.icon-phone {
	font-size:(66/10)*1rem;
	width:(56/66)*1em;
}
.icon-trand {
	font-size:(65/10)*1rem;
	width:(59/65)*1em;
}
