.brands {
  height: 80px;
  background-color: $accent-bg;

  .container {
    height: 100%;
  }

  &__list {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 2px;
  }

  &__item {
    
    &:first-child {
      width: 170px;
    }
  }

  
  @media (max-width: 991px) {
    height: auto;

    

    &__list {
      flex-wrap: wrap;
      justify-content: center;
    }

    &__item {
      padding-top: 20px;
      padding-bottom: 20px;
      margin-left: 20px;
      margin-right: 20px;

      &:first-child {
        width: auto;
      }
    }
  }

  @media (max-width: 767px) {

    &__list {
      justify-content: center;
    }
  }
}