.brands {
  height: 80px;
  background-color: $accent-bg;

  .container {
    height: 100%;
  }

  &__list {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 2px;
  }

  &__item {
    
    &:first-child {
      width: 170px;
    }
  }

  
  @media (max-width: 991px) {
    overflow: hidden;
    justify-content: flex-start;

    &__list {
      overflow: auto;
    }

    &__item {
  
      &:nth-child(n+2) {
        margin-left: 79px;
      }
    }
  }


  @media (min-width: 992px) {
    
  //   &__list {
  //     justify-content: flex-start;
  //     padding-top: 2px;
  //   }

  //   &__item {
      
  //     &:nth-child(2) {
  //       margin-left: 128px;
  //     }

  //     &:nth-child(3) {
  //       margin-left: 79px;
  //     }

  //     &:nth-child(4) {
  //       margin-left: 79px; 
  //     }

  //     &:last-child {
  //       margin-left: auto;
  //     }
  //   }
  }
}